.right-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h3 {
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
}

section {
  padding: 3rem;
}

.content {
  padding-left: 2rem;
  padding-right: 2rem;
}

.job {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
}

.date {
  font-size: 0.7rem;
}

@media only screen and (min-width : 900px) {

}